{% extends "base.html" %} {% block title %}Goal Input{% endblock %} {% block content
    %}
    <div class="topnav">
      <a href = "/">Home</a>
      <a href = "/nutrition">Nutrition</a>
      <a href = "/fitness">Fitness</a>
      <a href = "/progress">Progress</a>
      <a href = "/loggout">Log out</a>
    </div>  
    <style>
      .topnav {
      background-color: #333;
      color:cyan;
      padding: 14px 16px;
      font-size: 20px;
      overflow: hidden;
    }
    </style>
    
    <form method="POST">
      <br><br><h3 align="center">Goal</h3>
      <div class="form-group">
        <label for="goal_weigth">Goal Weight (Ibs):</label>
        <input
          type="number"
          class="form-control"
          id="goal_weight"
          name="goal_weight"
          required
          placeholder="Enter Weight"
        />
      </div>
      <div class="form-group">
        <label for="goal_date">Goal Date: </label>
        <input
          type="date"
          class="form-control"
          id="goal_date"
          name="goal_date"
          required
          placeholder="Enter Date"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}